<ion-view title="Rescue Post">
  <ion-content class='padding has-header'>

    <!-- Description -->
    <div class="list card">
      <label class="item item-input ">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description">
      </label>
      <a class="item item-text-wrap" ng-controller="PictureCtrl" ng-click="getPhoto()">
        <i class="icon ion-image"></i>&nbsp&nbspTake Photo
        <img ng-src="{{lastPhoto}}" style="max-width: 100%">
      </a>

      <a class="item item-text-wrap">
        &nbsp<i class="icon ion-location"></i>&nbsp&nbsp Location
      </a>
    </div>

    <!-- Cat and Dog radio button -->
    <div class="list card row">
      <label class="item item-radio col">
        <input type="radio" name="group">
        <div class="item-content">
          Dog
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio col">
        <input type="radio" name="group">
        <div class="item-content">
          Cat
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>


    <button class="button button-block button-positive">
      Submit
    </button>


  </ion-content>
</ion-view>
