<ion-view title="Account">
  <ion-content class="padding">
    <h1>Sign in with</h1><br>
    <button class="button button-clear button-large button-positive ion-social-facebook">
    &nbsp;Facebook
    </button>
    <br>
    <button class="button button-clear button-large button-calm ion-social-twitter">
    &nbsp;Twitter
    </button>
    <br>
    <button class="button button-clear button-large button-assertive ion-social-googleplus">
    &nbsp;Google+
    </button>
    
  </ion-content>
</ion-view>
