<ion-view title="Account">
  <ion-content class="has-head">
    <div class='list list-inset'>
      <button ng-click="login()" class="button button-full button-positive">
        Login
      </button>

      <a class='item'>
        X
      </a>
      <a class='item'>
        Y
      </a>
      <a class='item' ng-click='share()'>
        openFB Login
      </a>
      <a class='item' href="#/account/about">
        About
      </a>

      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>


      </div>
  </ion-content>
</ion-view>
