<ion-view title="Account">
  <ion-content class="padding">
      <script src="https://cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
      <script type="text/javascript">

      var widget = new Auth0Widget({
        domain:         'animalrescue.auth0.com',
        clientID:       'pIuGHl4YRA0Xef5UIIVGRgtfJ5xNtPIO',
        callbackURL:    location.href
      });                                                                                                       
      
    </script>
    <button ng-click="login()">Login</button>
  </ion-content>
</ion-view>
