/* Empty. Add your own CSS if you like */
.user {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.location {
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

.animal_type {
  font-size: 1em
}
